body {

    margin: 0px;
    padding: 0px;
    margin-right: 0px;
    background-color:rgb(231, 248, 248);
}
#menu{
    top:0px;
    height:px;
    background-size: contain;
    box-shadow: 1cm rgba(0, 0, 0, 0.11);
    background-image: url(.jpg);
}

#menu21 {
    margin-top: 5cm;
    margin-left: 5cm;
    margin-right: 5cm;
    justify-content: right;
    height: 1000px;
    background-color:rgb(129, 160, 150);
}
#menu222{
position: fixed;
bottom: 0cm;
left: 0cm;
    background-color: darkgrey;
    width: 100%;
}
#menu222:{
    position:fixed;
    height: 400px;
    background-color: darkkhaki;
    transition: 1s;
    -webkit-transition: 4s;
}

@keyframes fondu {
  0%{background-image: url(mer.jpg);}
  33.33%{background-image: url(abc.jpg);}
  100%{
    background-image: url(mer.jpg);
  }

}
nav ul {
    width:40cm;
    position:fixed;
    display:flex; 
    margin: 0px;
    margin-top: 0cm;
    padding: 0px;
}


nav ul li {
    flex-grow: 1;
    position: relative;
    display:inline-block;
    list-style-type: none;
    text-align: center;
    width:100px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    margin-top: 0cm;
    border-right:0px solid blanchedalmond;
    background-color: rgb(7, 17, 148);

}

nav ul li a {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: left;
    line-height: 40px;
    text-decoration: none;
    display: block;
    color: rgb(130, 189, 107);
}

nav ul ul{ 
    margin: 0px;
    padding: 0px;
    left: top;
    position: absolute;
    visibility: hidden;
}
nav li:hover {
    background-color: rgb(224, 64, 64);
}

nav ul li:hover ul{
    visibility: visible;

}

nav ul li a:hover{
    -webkit-transform: rotate(2deg);
    transition: 0.4s;
    background-color: turquoise;
    color: black;
}

@media (max-width:768px){
    header label {
        display: block;
    }
}

#entete {
    height: 10cm;
    margin:0cm;
    background-image:url("mer.jpg");
    scroll-margin-top: 0cm;
    padding: 0cm;
    
}

#fixe {
    margin-left: 10m;
    margin-right: 0cm;
}

#autre {
    margin-right: 25cm;
}